<body class="body-personal">

    <app-header></app-header>
    
    <div class="row">
        <div class="col-2 nopadding">
            <app-menu></app-menu>
        </div>
    
        <div class="col-10 pl-5 div-table">
            <h2>{{title}}</h2>
            <hr>
            <div class="d-flex mb-2 justify-content-between">
                <transaccion-agregar (flagReload)="reloadTable($event)"></transaccion-agregar>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="tableTrigger" class="table table-striped table-bordered row-border table-hover" name ="table" id ="table">
                <thead class="thead-light">
                    <tr>
                    <th>Descripción</th>
                    <th width="100"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of transacciones">
                        <td>{{t.descripcion}}</td>
                        <td class="text-center">
                        <button class="navMenu" class="pulse-icon" data-placement="top" title="Editar transaccion" (click)="abrirmodalActualizar( modalActualizar, t.id_transaccion)">
                            <i-bs class="text-muted" name="pencil-square" width="20" height="20"></i-bs>
                        </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <app-footer></app-footer>
</body>
    
    
    
    
    
    <ng-template #modalActualizar let-modal>
        <transaccion-actualizar [id]="id" [transaccion]="transaccion" (flagReload)="reloadTable($event)"></transaccion-actualizar> 
    </ng-template>
    
    